## .NET
bin/
obj/
*.user
*.suo

## Visual Studio / Rider
.vs/
.idea/
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Test results
[Tt]est[Rr]esult*/
*.trx

## OS files
.DS_Store
Thumbs.db
